* {
    padding: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 40%;
    padding: auto;
    margin: auto;
}

thead {
    background-color: #dddddd;
}
 
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

hr {
    display: block;
    padding: 0px;
    border-width: 1px;
}

html, body {
    height: 99%;
}

.geral {
    min-height: 90%;
    padding-bottom: 5px ;
	position: relative;
	width: 100%;
}

header {
    background-color: ghostwhite;
    text-align: center;
    padding: 20px 0px 20px 0px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

footer {
    background-color: ghostwhite;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin-top: 10px;
    /* posicionamento */
    border-top: 1px solid lightgray;
    width: 100%;
    position: static;
    bottom: 0px;
}

form {
    text-align: center;
}

form div {
    padding: 10px;
    width: 100%;
}

form div input {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.content {
    overflow: hidden;
}

#centro_distribuicao {
    float: auto;
    text-align: center;
}

#familia {
    float: right;
}

p {
    padding: 10px;
}

section {
    margin-left: 10px;
}